/* font-family: "OfficinaSansBook" */
@font-face {
  font-family: "OfficinaSansBook";
  src: url("../fonts/OfficinaSans/OfficinaSansBook.ttf");
}

/* font-family: "OfficinaSansMedium" */
@font-face {
  font-family: "OfficinaSansMedium";
  src: url("../fonts/OfficinaSans/OfficinaSansMedium.ttf");
}

/* font-family: "OfficinaSansBookItalic" */
@font-face {
  font-family: "OfficinaSansBookItalic";
  src: url("../fonts/OfficinaSans/OfficinaSansBookItalic.ttf");
}

/* font-family: "OfficinaSansBold" */
@font-face {
  font-family: "OfficinaSansBold";
  src: url("../fonts/OfficinaSans/OfficinaSansBold.ttf");
}

/* font-family: "Marya" */
@font-face {
  font-family: "Marya";
  src: url("../fonts/marya.ttf");
}
