/* font-family: "OfficinaSansBook" */
@font-face {
  font-family: "OfficinaSansBook";
  src: url("../fonts/OfficinaSans/OfficinaSansBook.ttf");
}

/* font-family: "OfficinaSansMedium" */
@font-face {
  font-family: "OfficinaSansMedium";
  src: url("../fonts/OfficinaSans/OfficinaSansMedium.ttf");
}
